@import '../../sass/variables';
@import '../../sass/animations';

.loader {
  width: 12rem;
  height: 5px;
  background-color: $color-gray;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  &__bar {
    width: 30%;
    height: 100%;
    border-radius: 2px;
    background-color: #929292;
    animation: slide 1s ease-in-out infinite;
  }
}