*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../fonts/CircularStd-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../fonts/CircularStd-Black.otf);
  font-weight: 700;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}