.grid-row {
  display: grid;
  grid-template-columns: .03fr 1.3fr .7fr .7fr .17fr;
  grid-column-gap: 1.5rem;
  padding: 0 1.5rem;

  & > * {
    display: flex;
    align-items: center;
    height: 5.6rem;
    overflow: hidden;
  }

  & > div:first-child {
    justify-content: center;
  }

  & > div:last-child {
    position: relative;
    justify-content: flex-end;
    margin-right: 1.5rem;
    overflow: visible;
  }
}

.col-3 {
  grid-template-columns: 2.2fr 1.4fr .4fr;

  & > div:first-child {
    justify-content: left;
  }

  & > div:last-child {
    margin-right: 0;
  }
}

.col-4 {
  grid-template-columns: .03fr 1.3fr .8fr.17fr;
}

//responsive row
.re-grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2.4rem;
  grid-auto-rows: 0;
  overflow-y: hidden;
}


//spacer
.spacer-2 {
  padding: 2rem;
}

//row
.row {
  margin-bottom: 3.5rem;
}