.grid-row {
  display: grid;
  grid-template-columns: .03fr 1.3fr .7fr .7fr .17fr;
  grid-column-gap: 1.5rem;
  padding: 0 1.5rem;

  & > * {
    display: flex;
    align-items: center;
    height: 5.6rem;
    overflow: hidden;
  }

  & > div:first-child {
    justify-content: center;
  }

  & > div:last-child {
    position: relative;
    overflow: visible;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }
}

.col-3 {
  grid-template-columns: 2.2fr 1.4fr .4fr;

  & > div:first-child {
    justify-content: left;
  }

  & > div:last-child {
    margin-right: 0;
  }
}