@import '../../sass/variables';

.track {

  &-numeration {
    position: relative;
  }

  &-title {
    display: flex;  
    align-items: flex-end;
    font-size: 1.45rem;
    line-height: 1.6rem;
    overflow: hidden;
  }

  &-brand {
    overflow: hidden;
  }

  &-thumbnail {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .play-icon {
    font-size: 2.15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
  }

  &-name {
    line-height: 2.4rem;
    color: white;
  }

  &-name,
  &-artist,
  &-album {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-add {
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 13rem;
    padding: 1rem 4rem;
    color: white;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #535353;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.06);
    }
  }

  &:hover,
  &.selected {
    background-color: #2A2A2A;

    .track {

      &-artist,
      &-album {
        color: white;
      }

      &-add {
        border-color: $color-gray-light;
      }

      &-thumbnail > .filtered {
        filter: brightness(55%);
      }
    }

    .play-icon,
    .delete-icon {
      opacity: 1;
    }

    .play-icon + span {
      opacity: 0;
    }
  }

  &.selected {
    background-color: #595856;
  }
}