.user {
  display: flex;
  align-items: flex-end;

  & .img-wrapper {
    position: relative;
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 5rem rgba(40,40,40,5);
    margin-right: 3rem;

    & > img {
      width: 100%;
    }

    & > svg {
      font-size: 8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #949494;
    }
  }

  &-content {

    & > h3 {
      font-size: 1.15rem;
      text-transform: uppercase;
    }

    & > h2 {
      font-size: 9.3rem;
      line-height: 1.65;
      letter-spacing: -4px;
    }

    & > p {
      font-size: 1.5rem;
      color: hsla(0,0%,100%,.7);
    }
  }
}