.body {
  position: relative;
  padding: 3.5rem 3rem;
  background: #121212;
  min-height: calc(100vh - 34.5rem);
  isolation: isolate;

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23.2rem;
    z-index: -1;
    background-color: rgb(135, 119, 63);
    background-image: linear-gradient(rgba(0,0,0,.6),#121212);
  }
}