.main {
  position: relative;
  background: linear-gradient(#212121, #121212);
  width: calc(100% - 23.5rem);
  height: 100%;
  overflow-y: overlay;
}

.main::-webkit-scrollbar {
  width: 1.5rem;               
}

.main::-webkit-scrollbar-track {
  background: transparent;        
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, .7);
  border-radius: 1px;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(165, 165, 165, 0.7);
}

.main::-webkit-scrollbar-thumb:active {
  background-color: rgba(245, 245, 245, 0.7);
}