@import '../../sass/variables';

.card {
  background-color: #181818;
  border-radius: 4px;
  padding: 1.5rem;
  padding-bottom: 4.5rem;
  cursor: pointer;

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 78%;
    margin-bottom: 2rem;
    border-radius: 2px;
    overflow: hidden;

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > .music-icon {
      font-size: 9rem;
      color: #B2B2B2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & > .play-icon {
      box-sizing: content-box;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: 2.1rem;
      background-color: $color-primary-dark;
      border-radius: 50%;
      opacity: 0;
      padding: 9px;
      cursor: default;

      &:hover {
        transform: scale(1.06);
      }
    }
  }

  &__content {

    & > h3 {
      font-size: 1.6rem;
      margin-bottom: 2px;
    }
    
    & > p {
      position: absolute;
      font-size: 1.4rem;
      color: $color-gray-light;
      text-transform: capitalize;
    }
  }

  &:hover {
    background-color: #282828;

    & svg {
      opacity: 1;
    }
  }
}