@import '../../sass/variables';

.sidePlaylists {
  margin-left: 1.35rem;
  margin-top: 2.5rem;

  & > ul {
    list-style-type: none;
  }

  & > h2 {
    display: block;
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #b3b3b346;
    font-size: 1.3em;
    color: $color-gray-light;
    letter-spacing: 1px;
  }

  & > ul > li > a {
    display: block;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-decoration: none;
    color: $color-gray-light;
    cursor: initial;

    &:hover {
      color: white;
    }
  }
}