@import '../../sass/variables';

.playlist {
  height: 100%;
  background: linear-gradient(#38150E, #121212 80rem);
  overflow-y: overlay;

  &__header {
    display: flex;
    align-items: flex-end;
    padding: 3rem 3rem;
    padding-top: 8rem;
  }

  &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.5rem;
    height: 23.5rem;
    border-radius: 1px;
    background-color: #282828;
    box-shadow: 0 4px 6rem rgba(17,17,17,5);
    overflow: hidden;

    & > img {
      width: 100%;
    }
    
    & > svg {
      font-size: 7rem;
      color: #7F7F7F;
    }
  }

  &__details {
    margin-left: 2.5rem;

    & > h3 {
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    & > h2 {
      font-size: 8rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    & > p {
      font-size: 1.4rem;
    }
  }

  &__songsContainer {
    padding: 3.5rem 3rem;
    background: linear-gradient(rgba(25, 9, 6, .5), rgb(18,18,18) 35%);
    min-height: calc(100vh - 34.5rem);
  }

  &__songs {
    width: 100%;
    min-width: 70rem;
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $color-gray-light;

    &-head {
      text-transform: uppercase;
      border-bottom: 1px solid #2a2a2abd;
      margin-bottom: 1.5rem;
      height: 4.7rem;

      & .clockIcon {
        display: block;
        font-size: 1.7rem;
      }
    }
  }

  &__song {

    &-title {
      display: flex;
      align-items: flex-end;
      font-size: 1.45rem;
      line-height: 1.6rem;
      overflow: hidden;
    }

    &-brand {
      overflow: hidden;
    }

    &-thumbnail {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;
    }

    &-name {
      line-height: 2.4rem;
      color: white;
    }

    &-name,
    &-artist,
    &-album {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: #2A2A2A;

      .playlist__song-artist,
      .playlist__song-album {
        color: white;
      }

    }

    &.selected {
      background-color: #595856;
      color: white;
    }
  } 

  &__playerLink {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    // background-color: $color-primary-dark;
  }
}

.playlist::-webkit-scrollbar {
  width: 1.5rem;               
}

.playlist::-webkit-scrollbar-track {
  background: transparent;        
}

.playlist::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, .7);
  border-radius: 1px;
}

.playlist::-webkit-scrollbar-thumb:hover {
  background-color: rgba(165, 165, 165, 0.7);
}

.playlist::-webkit-scrollbar-thumb:active {
  background-color: rgba(245, 245, 245, 0.7);
}