@import '../../sass/variables';

.playlist {
  height: 100%;

  &__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 3rem 3rem;
    padding-top: 8rem;
    background-color: rgb(64, 24, 16);

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, rgba(0,0,0,.5));
    }

    &-content {
      display: flex;
      align-items: flex-end;
      position: relative;
      z-index: 99;
    }
  }

  &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.5rem;
    height: 23.5rem;
    border-radius: 1px;
    background-color: #282828;
    box-shadow: 0 4px 5rem rgba(15,15,15,5);
    overflow: hidden;

    & > img {
      width: 100%;
    }
    
    & > svg {
      font-size: 7rem;
      color: #7F7F7F;
    }
  }

  &__details {
    margin-left: 2.5rem;

    & > h3 {
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    & > h2 {
      font-size: 9.5rem;
      font-weight: bold;
      margin-bottom: 5px;
      letter-spacing: -4px;
    }

    & > p {
      font-size: 1.5rem;

      & > span {
        color: hsla(0,0%,100%,.7);
      }
    }
  }

  &__body {
    position: relative;
    padding: 3.5rem 3rem;
    background: #121212;
    min-height: calc(100vh - 34.5rem);
    isolation: isolate;

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 23.2rem;
      z-index: -1;
      background-color: rgb(64, 24, 16);
      background-image: linear-gradient(rgba(0,0,0,.6),#121212);
    }
  }

  &__tracks,
  &__recommended-tracks {
    width: 100%;
    min-width: 70rem;
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $color-gray-light;

    &-columns {
      text-transform: uppercase;
      border-bottom: 1px solid #2a2a2abd;
      margin-bottom: 1.5rem;
      height: 4.7rem;

      & .clockIcon {
        display: block;
        font-size: 1.7rem;
      }
    }
  }

  &__recommendations {
    margin-top: 7.5rem;
  }
  
  & .delete-icon {
    box-sizing: content-box;
    opacity: 0;
    position: absolute;
    right: 4.7rem;
    bottom: 1.15rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
  }
}