.header {
  height: 34.5rem;
  position: relative;
  padding: 3rem 3rem;
  padding-top: 8rem;
  background-color: rgb(135, 119, 63);

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,.5));
  }

  &-content {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 99;
  }
}