@import '../../sass/variables';

//warning
.warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  font-size: 4rem;
  color: #7E7E7E;  
  text-align: center;

  & > p {
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  & > svg {
    font-size: 5rem;
  }
}

//heading
.heading {
  margin-bottom: 2rem;
  color: white;

  & > h2 {
    font-size: 2.4rem;
  }

  & > p {
    font-size: 1.4rem;
    color: $color-gray-light;
  }
}

//spacer
.spacer-2 {
  padding: 2rem;
}

//
.row {
  margin-bottom: 3.5rem;
}