.warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  font-size: 4rem;
  color: #7E7E7E;  
  text-align: center;

  & > p {
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  & > svg {
    font-size: 5rem;
  }
}