@import '../../sass/variables';

.nav__item {
  display: flex;
  align-items: center;
  padding: 9px 1.5rem;
  border-radius: 4px;
  color: $color-gray-light;
  cursor: pointer;

  &:hover {
    color: white;
  }

  &-icon {
    font-size: 2rem !important;
    margin-right: 1.5rem;
  }

  & > h3 {
    font-size: 1.35rem;
    margin-top: 4px;
  }

  &--active {
    background-color: $color-gray-dark;
    color: white;
  }
}