.sub-heading {
  margin-bottom: 2rem;

  & > h2 {
    font-size: 2.3rem;
    letter-spacing: -1px;
    font-weight: 600;
  }

  & > p {
    font-size: 1.5rem;
    color: rgb(179, 179, 179);
    margin-top: 2px;
  }
}